---
import Landingpage from "../components/Landingpage.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/nim4iic.css" />
    <title>Boom Butik</title>
  </head>
  <body>
    <Landingpage />
  </body>
</html>
