---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import EnkeltProdukt from "../components/EnkeltProdukt.astro";
import "../../src/layout/stylesheet.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/img/favicon_yellow.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Boom Butik er et fællesskab der sælger komfortabelt tøj til alle køn og alle aldre."
    />
    <meta
      name="keywords"
      content="komfortabel, Boom Butik, joggingtøj, simpel, style, hoodie, sweatshirt, crewneck"
    />
    <link rel="stylesheet" href="../../src/layout/stylesheet.css" />
    <link rel="stylesheet" href="https://use.typekit.net/nim4iic.css" />
    <title>Produkt</title>
  </head>
  <body>
    <Header />
    <main>
      <EnkeltProdukt />
    </main>
    <Footer />
  </body>
</html>

<style>
  @media (max-width: 800px) {
    main {
      padding-top: 70px;
    }
  }
</style>
