---
import Header from "../components/Header.astro";
import Produktbilleder from "../components/Produktbilleder.astro";
import Billederække from "../components/Billederække.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="../../public/img/favicon_yellow.webp"/>
    <link rel="stylesheet" href="../../src/layout/stylesheet.css" />
    <link rel="stylesheet" href="https://use.typekit.net/nim4iic.css" />
    <title>Produktliste</title>
  </head>
  <body>
    <Header />
    <main>
        <Produktbilleder />

        <Billederække />
    </main>
    <Footer />
  </body>
</html>