---
import Header from "../components/Header.astro";
import TekstRefundering from "../components/Tekst-Refundering.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="../../public/img/favicon_yellow.webp"/>
    <link rel="stylesheet" href="../../src/layout/stylesheet.css" />
    <link rel="stylesheet" href="https://use.typekit.net/nim4iic.css" />
    <title>Om os</title>
  </head>
  <body>
    <Header />
    <main>
        <TekstRefundering />
    </main>
    <Footer />
  </body>
</html>