---
import Header from "../components/Header.astro";
import TekstRefundering from "../components/Tekst-Refundering.astro";
import Footer from "../components/Footer.astro";
import "../../src/layout/stylesheet.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Boom Butik er mere end bare din online tøjbutik. Ved køb af komfortabelt joggingtøj og accessories, bliver du også en del af et fællesskab. Vi vil gerne vise, at du kan folde dig ud og sprede dine vinger, uanset køn og alder."
    />
    <meta
      name="keywords"
      content="komfortabel, Boom Butik, joggingtøj, simpel, style, hoodie, sweatshirt, crewneck, fællesskab"
    />
    <link rel="icon" type="image/webp" href="/img/favicon_yellow.webp" />
    <link rel="stylesheet" href="../../src/layout/stylesheet.css" />
    <link rel="stylesheet" href="https://use.typekit.net/nim4iic.css" />
    <title>Refusionspolitik</title>
  </head>
  <body>
    <Header />
    <main>
      <TekstRefundering />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    padding-top: 70px;
  }

  @media (min-width: 800px) {
    main {
      padding-top: 135px;
    }
  }
</style>
