<footer>
  <div class="desktop">
    <div class="container__footer">
      <div class="boom__container">
        <a href="/"
          ><img
            src="/img/boom_footer.svg"
            class="boom"
            alt="Logo af Boom Butik"
          /></a
        >
      </div>
      <div class="danish_box">
        <div class="box_1"><p>Dansk</p></div>
        <div class="box_2"><p>(DKK)</p></div>
      </div>
    </div>

    <div class="desktop_cus">
      <div class="customer__service">
        <h3>Kundeservice</h3>
        <div class="info">
          <li>
            <a href="../../Om-os">Om os</a>
          </li>
          <li>
            <a href="../../kontakt">Kontakt</a>
          </li>
          <li>
            <a href="../../refundering">Refusionspolitik</a>
          </li>
        </div>
      </div>
    </div>

    <div class="email">
      <h3>Nyhedsbrev</h3>

      <p>Tilmeld dig vores nyhedsbrev, og bliv en del af noget større</p>
      <input type="email" placeholder="Email" />
    </div>

    <div class="icon__container">
      <a href="https://www.instagram.com/boombutik/" target="_blank"
        ><img src="/img/insta.svg" alt="Instagram logo" /></a
      >
      <a href="https://www.tiktok.com/@boombutiktok" target="_blank"
        ><img src="/img/tiktok.svg" alt="TikTok logo" /></a
      >
    </div>

    <div class="adress">
      <p>© 2023 Boom Butik ApS 44150875</p>
      <p>Blågårdsgade 14, 2200 København N</p>
    </div>
    <div class="kort">
      <img
        src="/img/kortlogo.svg"
        class="kort"
        alt="Billede af betalingstyper"
      />
    </div>
  </div>
</footer>

<style>
  footer {
    margin: 0;
    padding: 0;
    background-color: #f2e6b6;
  }
  .container__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .boom__container {
    padding: 40px 0 20px 0;
    text-align: center;
  }
  .boom {
    width: 30%;
  }
  .danish_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
  .box_1,
  .box_2 {
    width: 100%;
    border: #0a369d solid 1px;
    margin: 6px;
    border-radius: 4px;
  }

  .box_1 p,
  .box_2 p {
    text-align: center;
    font-size: 14px;
  }
  .customer__service {
    margin: 25px;
  }

  .info li {
    list-style: none;
    margin: 18px 0 18px 0;
  }

  .info a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .email {
    width: 85%;
    margin: 25px;
  }
  .email input {
    border: #0a369d solid 1px;
    padding: 14px;
    background-color: #f2e6b6;
    border-radius: 4px;
  }
  .email p {
    line-height: 1.5;
  }
  .icon__container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    margin-top: 40px;
  }
  .adress {
    margin-top: 40px;
    text-align: center;
  }
  .kort {
    text-align: center;
  }

  @media (min-width: 800px) {
    .boom {
      width: 45%;
    }
    .desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .icon__container {
      grid-column: 1 / 2;
      grid-row: 2;
      text-align: center;
      margin: 0 0 10px 0;
      align-self: flex-end;
    }
    .desktop_cus {
      text-align: left;
      display: grid;
      justify-content: center;
      margin: 40px 0 0 0;
    }
    .customer__service {
      margin: 0;
    }
    .email {
      margin: 40px 0 0 0;
      display: grid;
      justify-items: left;
      justify-self: center;
    }
    .adress {
      grid-column: 2 / 3;
      grid-row: 2;
      font-size: 14px;
      margin: 20px 0 0 0;
    }
    .kort {
      grid-column: 3 / 4;
      grid-row: 2;
      align-self: flex-end;
    }
  }
</style>
