---
import KnapLanding from "../components/KnapLanding.astro";
import KnapSecond from "../components/KnapSecond.astro";
import LandingBilleder from "../components/LandingBilleder.astro";
---
<div class="head_img">
   <img
      src="../../public/img/logo_headerbillede.webp"
      alt="Billede af Boom Butik tøj"
    />
<KnapLanding/>
</div>

    <h1>Velkommen til vores komfortable univers</h1>
    <h2>Et community hvor alle kan sprede deres vinger</h2>
<KnapSecond/>
<LandingBilleder/>
<style>
  body {
    margin: 0;
    padding: 0;
  }
  .head_img {
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
  }
  h1,
  h2 {
    text-align: center;
    color: #0a369c;
    font-family: poppins;
  }
  h1 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    padding: 20px 20px 0px 20px;
    margin-top:20px;
  }
  h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 20px 0px 20px;
  }
</style>
