
    <img
      src="../../public/img/logo_headerbillede.webp"
      alt="Billede af Boom Butik tøj"
    />
    <h1>Velkommen til vores komfortable univers</h1>
    <h2>Et community hvor alle kan sprede deres vinger</h2>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  h1,
  h2 {
    text-align: center;
    color: #0a369c;
    font-family: poppins;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
  }
</style>
