---
import KnapLanding from "../components/KnapLanding.astro";
import KnapSecond from "../components/KnapSecond.astro";
import LandingBilleder from "../components/LandingBilleder.astro";
import Trustpilot from "../components/Trustpilot.astro";
import GridBillede from "../components/GridBillede.astro";
---

<div class="head_img">
  <img src="/img/logo_headerbillede.webp" alt="Billede af Boom Butik tøj" />
  <KnapLanding />
</div>
<div class="mobile">
  <h1>Velkommen til vores komfortable univers</h1>
  <h2>Et community hvor alle kan sprede deres vinger</h2>
  <KnapSecond />
</div>
<LandingBilleder />
<Trustpilot />
<GridBillede />
<style>
  body {
    margin: 0;
    padding: 0;
  }
  .head_img,
  .mobile {
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
  }
  h1,
  h2 {
    text-align: center;
    color: #0a369c;
  }
  h1 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
  }
  h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 20px 0px 20px;
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 36px;
      margin-top: 60px;
    }
    h2 {
      font-size: 24px;
    }
  }
</style>
