<section>
  <div class="Billede1">
    <img
      src="/img/grey_sweatshirt_front.webp"
      alt="Billede af grå sweatshirt"
    />
    <h3>Hoodie</h3>
    <p>175 kr</p>
  </div>

  <div class="Billede2">
    <img src="/img/grey_zipswaeter_front.webp" alt="Grå half-zip sweatshirt" />
    <h3>Half-zip Sweatshirt</h3>
    <p>200 kr</p>
  </div>

  <div class="Billede3">
    <img src="/img/grey_tshirt_front.webp" alt="Grå t-shirt" />
    <h3>T-shirt</h3>
    <p>100 kr</p>
  </div>
</section>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: #f2e6b6;
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 40px;
    margin-top: 110px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
  .Billede1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .Billede2 {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .Billede3 {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  @media (min-width: 800px) {
    section {
      margin-top: 165px;
      gap: 1em;
      padding: 10px 200px 0 200px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 6px;
    }
    p {
      font-size: 16px;
      margin-top: 0;
    }
    .Billede1,
    .Billede2,
    .Billede3 {
      margin: 30px;
    }
  }
</style>
