<section>
  <div class="Billede1">
    <img src="/img/test1.webp" alt="Testbillede" />
  </div>

  <div class="Billede2">
    <img src="/img/test2.webp" alt="Testbillede" />
  </div>

  <div class="Billede3">
    <img src="/img/test3.webp" alt="Testbillede" />
  </div>

  <div class="Billede4">
    <img src="/img/test1.webp" alt="Testbillede" />
  </div>

  <div class="Billede5">
    <img src="/img/test2.webp" alt="Testbillede" />
  </div>
</section>

<style>
  img {
    max-width: 100%;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: #f2e6b6;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 100px;
  }

  .Billede1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .Billede2 {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .Billede3 {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .Billede4 {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .Billede5 {
    grid-column: 5 / 6;
    grid-row: 1;
  }
</style>
