<h1>Om os</h1>

<h2>
  “Vi håber, at du kan mærke den hygge og passion, der ligger bag vores
  forretning”
</h2>

<section class="brødtekst">
  <p>Kære kunde,</p>
  <p>
    Jeg sætter meget stor pris på, at du besøger vores hjemmeside, og ønsker at
    vide mere om hvem vi er som virksomhed.
  </p>

  <p>
    Fruit of the Boom begyndte som en idé under den første corona lockdown, hvor
    jeg besluttede mig for at starte en lille forretning med salg af tøj
    inspireret af Fruit of the Looms joggingtøj. Oprindeligt solgte jeg tøjet
    via Instagram under navnet Fruit of the Boom, før det udviklede sig til
    vores nuværende navn, Boom Butik.
  </p>

  <p>
    I starten var det en hyggelig hobby, hvor jeg personligt leverede tøjet
    rundt i København. Efter en meget positiv respons og støtte fra venner,
    udviklede forretningen sig gradvist, og vi udvidede sortimentet med cool
    merch til andre virksomheder, samt nogle meget anderledes varer som lamper,
    vinglas og bøger.
  </p>

  <p>
    For at håndtere væksten og opretholde kvaliteten af vores service fik jeg
    oprettet en hjemmeside, og ansatte nogle gode venner der kunne hjælpe mig.
    Med en masse nye idéer og støtte fra venner, bliver vi ved med at udvikle
    vores sortiment og projekter.
  </p>

  <p>
    Vi håber, at du kan mærke den hygge og passion, der ligger bag vores
    forretning, selvom den nu er vokset til mere end bare en lille hobby.
  </p>

  <p>
    Tak fordi du læste med - vi ønsker dig alt det bedste fra os her hos Boom
    Butik!
  </p>

  <p>Knus Viggo</p>
</section>

<!-- Styling -->
<style>
  /* Mobil version */
  h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    color: #0a369c;
    padding: 20px;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #0a369c;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 20px;
  }

  .brødtekst {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 20px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
  }

  /* Desktop version */
  @media (min-width: 800px) {
    h1 {
      font-size: 30px;
      font-weight: 700;
      line-height: 72px;
      color: #0a369c;

      margin-left: 80px;
      margin-bottom: 0;
      padding: 20px;
    }

    h2 {
      font-size: 26px;
      font-weight: 400;
      line-height: 54px;
      color: #0a369c;
      text-align: center;
      margin-left: 20cqw;
      margin-right: 20cqw;
      padding: 20px;
    }

    .brødtekst {
      margin-left: 20cqw;
      margin-right: 20cqw;
      margin-bottom: 5cqw;
    }

    p {
      padding: 10px;
    }
  }
</style>
