<!-- HTML -->
<h1>Refusionspolitik</h1>

<section class="brødtekst">
<div class="tekst1">
<h3>Ombytning</h3>

<p>Vi tilbyder desværre ikke direkte ombytning. For at bytte til dine ønskede varer bedes du derfor returnere den gamle ordre og placere en ny ordre på vores hjemmeside.</p>
</div>

<div class="tekst2">
<h3>Returnering</h3>

<p>Ordrer bestilt den 15. oktober 2023 og derefter kan returneres til og med den 31. januar 2024.
Brug blot det vedlagte returlabel, eller skriv til kontakt@boombutik.dk. For returforsendelsen beholder vi 25 kr. pr. returneret ordre – ikke pr. returneret produkt, men pr. returneret ordre.
Du er også velkommen til at bytte og returnere varer i vores butik på Rosenørns Allé i København.
Når den ubrugte vare er nået butikken i hænde, tilbagebetales dens pris i løbet af 7 hverdage.
Du hæfter kun for eventuel forringelse af varens værdi, som skyldes anden håndtering, end hvad der er nødvendigt for at fastslå varens art, egenskaber og den måde, den fungerer på. Med andre ord – du kan prøve varen på samme måde, som hvis du prøvede den i en fysisk butik. Hvis varen er prøvet udover, hvad der er beskrevet ovenfor, betragter vi den som brugt, hvilket betyder, at du ved fortrydelse af købet kun får en del eller intet af købsbeløbet retur, afhængig af varens handelsmæssige værdi. For at modtage hele købsbeløbet retur må du altså gøre det samme, som man kan i en fysisk butik. Du må afprøve varen, men ikke tage den i egentlig brug.</p>
</div>

<div class="tekst3">
<h3>Reklamationsret</h3>

<p>Der gives 2 års reklamationsret i henhold til købeloven. Reklamationsret gælder for fejl i materiale eller fabrikation. Reklamationen gælder ikke fejl eller skader begået ved forkert betjening af produktet.</p>
</div>

<div class="tekst4">
<h3>Klagemuligheder</h3>

<p>Har du en klage over et produkt, købt i biksen, kan der sendes en klage til:
Center for KlageløsningNævnenes Hus, Toldboden 28800 Viborg
Du kan klage til Center for Klageløsning via Klageportalen for Nævnenes Hus på https://kpo.naevneneshus.dk/.
Hvis du er forbruger med bopæl i et andet EU-land, kan du angive din klage i EU Kommissionens online klageplatform på http://ec.europa.eu/odr.
Angiver du en klage her, bedes du oplyse Boom Butiks email-adresse, kontakt@boombutik.dk.</p>
</div>
</section>

<!-- Styling -->
<style>
    /* Mobil version */
        h1 {
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            color: #0A369C;
    
            padding: 20px;
        }

        h3 {
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;

            margin-top: 35px;
            margin-bottom: -10px;
        }

        .brødtekst {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
        padding: 20px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    
    /* Desktop version */
        @media (min-width: 800px) {
            h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
            color: #0A369C;
    
            margin-left: 80px;
            margin-bottom: 0;
            padding: 20px;
        }

            h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;

            margin-bottom: -10px;
        }

        .brødtekst {
        margin-left: 25cqw;
        margin-right: 25cqw;
        margin-bottom: 5cqw;
        }
    
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        .tekst1 {
            margin-bottom: 40px;
        }

        .tekst2 {
            margin-bottom: 40px;
        }

        .tekst3 {
            margin-bottom: 40px;
        }

        .tekst4 {
            margin-bottom: 40px;
        }
        }
    </style>