<h1>Refusionspolitik</h1>

<section class="brødtekst">
  <div class="tekst1">
    <h3>Ombytning</h3>

    <p>
      Vi tilbyder desværre ikke direkte ombytning. For at bytte til dine ønskede
      varer bedes du derfor returnere den gamle ordre og placere en ny ordre på
      vores hjemmeside.
    </p>
  </div>

  <div class="tekst2">
    <h3>Returnering</h3>
    <p>
      For at modtage hele købsbeløbet retur må du altså gøre det samme, som man
      kan i en fysisk butik. Du må afprøve varen, men ikke tage den i egentlig
      brug.
    </p>
    <p>
      Du hæfter kun for eventuel forringelse af varens værdi, som skyldes anden
      håndtering, end hvad der er nødvendigt for at fastslå varens art,
      egenskaber og den måde, den fungerer på. Med andre ord – du kan prøve
      varen på samme måde, som hvis du prøvede den i en fysisk butik.
    </p><p>
      Hvis varen er prøvet udover, hvad der er beskrevet ovenfor, betragter vi
      den som brugt, hvilket betyder, at du ved fortrydelse af købet kun får en
      del eller intet af købsbeløbet retur, afhængig af varens handelsmæssige
      værdi. For at modtage hele købsbeløbet retur må du altså gøre det samme,
      som man kan i en fysisk butik. Du må afprøve varen, men ikke tage den i
      egentlig brug.
    </p>
  </div>

  <div class="tekst4">
    <h3>Klagemuligheder</h3>

    <p>
      Har du en klage over et produkt, købt i biksen, kan der sendes en klage
      til: Center for Klageløsning Nævnenes Hus, Toldboden 28800 Viborg.
    </p><p>
      Du kan klage til Center for Klageløsning via Klageportalen for Nævnenes
      Hus på https://kpo.naevneneshus.dk/.
    </p><p>
      Hvis du er forbruger med bopæl i et andet EU-land, kan du angive din klage
      i EU Kommissionens online klageplatform på http://ec.europa.eu/odr.
    </p><p>
      Angiver du en klage her, bedes du oplyse Boom Butiks email-adresse <a
        href="mailto:kontakt@boombutik.dk">kontakt@boombutik.dk</a
      >
    </p>
  </div>

  <!-- Styling -->
  <style>
    /* Mobil version */
    h1 {
      font-size: 26px;
      font-weight: 700;
      line-height: 40px;
      color: #0a369c;

      padding: 20px;
    }

    h3 {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      margin-top: 35px;
      margin-bottom: 20px;
      color: #0a369c;
    }

    .brødtekst {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 50px;
      padding: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    /* Desktop version */
    @media (min-width: 800px) {
      h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 72px;
        color: #0a369c;
        margin-left: 80px;
        margin-bottom: 0;
        padding: 20px;
      }

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 20px;
      }

      .brødtekst {
        margin-left: 20cqw;
        margin-right: 20cqw;
        margin-bottom: 5cqw;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      .tekst1 {
        margin-bottom: 40px;
      }

      .tekst2 {
        margin-bottom: 40px;
      }

      .tekst4 {
        margin-bottom: 40px;
      }
    }
  </style>
</section>
